<div class="doctor">
    <div class="info">
        {{#if doctorsTashkentskaya.name}}
            <p><span>{{doctorsTashkentskaya.name}}</span></p>
        {{/if}}
        {{#if doctorsTashkentskaya.info}}
            <p>{{doctorsTashkentskaya.info}}</p>
        {{/if}}
    </div>
    {{#if doctorsTashkentskaya.reception}}
        <p>{{doctorsTashkentskaya.reception}}</p>
    {{/if}}
    {{#if doctorsTashkentskaya.reception1}}
        <p>{{doctorsTashkentskaya.reception1}}</p>
    {{/if}}
    {{#if doctorsTashkentskaya.reception2}}
        <p>{{doctorsTashkentskaya.reception2}}</p>
    {{/if}}
    {{#if doctorsTashkentskaya.reception3}}
        <p>{{doctorsTashkentskaya.reception3}}</p>
    {{/if}}
</div>