<div class="doctor">
    <div class="info">
        {{#if doctorsGalactionovskaya.name}}
            <p><span>{{doctorsGalactionovskaya.name}}</span></p>
        {{/if}}
        {{#if doctorsGalactionovskaya.info}}
            <p>{{doctorsGalactionovskaya.info}}</p>
        {{/if}}
    </div>
    {{#if doctorsGalactionovskaya.reception}}
        <p>{{doctorsGalactionovskaya.reception}}</p>
    {{/if}}
    {{#if doctorsGalactionovskaya.reception1}}
        <p>{{doctorsGalactionovskaya.reception1}}</p>
    {{/if}}
    {{#if doctorsGalactionovskaya.reception2}}
        <p>{{doctorsGalactionovskaya.reception2}}</p>
    {{/if}}
    {{#if doctorsGalactionovskaya.reception3}}
        <p>{{doctorsGalactionovskaya.reception3}}</p>
    {{/if}}
</div>