<div class="time-scroll">
    <div class="time-scroll__years">
        <img src="assets/images/slider_left-arrow.png" class="slider_left-arrow">
        <p class="years years__1 is_active">2017</p>
        <p class="years years__2">2016</p>
        <p class="years years__3">2015</p>
        <p class="years years__4">2014</p>
        <p class="years years__5">2013</p>
        <img src="assets/images/slider_right-arrow.png" class="slider_right-arrow">
    </div>

    <div class="time-scroll__monthes">
        <div class="time-scroll__month time-scroll__month__1">
            <p class="month month__1">Январь</p>
            <p class="month month__2">Февраль</p>
            <p class="month month__3">Март</p>
            <p class="month month__4">Апрель</p>
            <p class="month month__5">Май</p>
            <p class="month month__6">Июнь</p>
        </div>
        <div class="time-scroll__month time-scroll__month__2">
            <p class="month month__7">Июль</p>
            <p class="month month__8">Август</p>
            <p class="month month__9">Сентябрь</p>
            <p class="month month__10">Октябрь</p>
            <p class="month month__11 is_active">Ноябрь</p>
            <p class="month month__12">Декабрь</p>
        </div>
    </div>

    <div class="time-drop-down-list">
        <select>
            <option value="Январь">Январь</option>
            <option value="Февраль">Февраль</option>
            <option value="Март">Март</option>
            <option value="Апрель">Апрель</option>
            <option value="Май">Май</option>
            <option value="Июнь">Июнь</option>
            <option value="Июль">Июль</option>
            <option value="Сентябрь">Сентябрь</option>
            <option value="Октябрь">Октябрь</option>
            <option value="Ноябрь">Ноябрь</option>
            <option value="Декабрь">Декабрь</option>
        </select>
    </div>
</div>

<section class="news news-action">
    {{#each news_action as |news_action|}}
        <div class="news-block">
            <img class="news-block__img" src="{{news_action.img}}"/>
            <div class="news-block__content">
                <div class="news-block__title">{{news_action.title}}</div>
                <div class="news-block__date">{{news_action.date}}</div>
                <div class="news-block__text">{{news_action.description}}</div>
                <a href="{{news_action.link}}" class="news-block__link">подробнее</a>
            </div>
        </div>
    {{/each}}
</section>